@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
  background: #ebeeef;
}
/* #devtools-indicator,
[data-nextjs-toast],
[data-next-badge-root],
.nextjs-toast {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
} */

.login-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-wrapper {
  width: 430px;
}

.form-group label {
  font-size: 14px;
}

.form-control {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 8px 14px;
}

.sidebar {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 240px;
  background: #ffffff;
  z-index: 1;
  /* background: green; */
}

.right-body {
  margin-left: calc(240px + 24px);
  margin-top: 24px;
  margin-right: 24px;
  background: #ffffff;
  padding: 24px;
  border-radius: 4px;
}
.navbar {
  margin-left: calc(240px + 0px);
}

.page-not-found{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-wrap{
  display: flex;
  gap: 4px;
}
.action-button{
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebf3f5;
  border-radius: 4px;
}
button:hover{
  cursor: pointer;
}

table td{
    white-space: nowrap;   
  overflow: hidden;        
  text-overflow: ellipsis;  
}